mongoengine==0.8.7
Django==1.7.4
virtualenv==12.0.7
git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
